{% extends "layout.html" %}
{% block body %} 
<div class="content">
{% for post in Post %}

<div class="post">
<p> ID: {{post.id}} </p>
<p class="title">
    <a href="{{ url_for('user', id = post.post.id) }}">
    User:{{ post.post.userName }}
    </a>
</p>
</b>
<p>{{ post.message }} </p>
<p> Likes: {{ post.likes }} </p>

<div class="center">
<form action="{{ url_for('delete', id = post.id) }}"class="form1">
<button type="Delete"class="submit4">Delete Chirp</button> 
</form>

<form action="{{ url_for('like', id = post.id) }}" class="form1">
<button type="Like" class="submit1">Like Chirp</button> </form>
<form action="{{ url_for('dislike', id = post.id) }}" class="form1">
    <button type="Dislike" class="submit2">Dislike Chirp</button> </form>
<form action="{{ url_for('update', id = post.id) }}"class="form1">
    <button type="Edit" class="submit3">Edit Chirp</button> </form>
</div></div>
{% endfor %}
</div>
{% endblock body%}